<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <button type="button" onclick="addDocument()">Fucked</button>
    <script>
        var document_hash = "<%= document_hash %>";
    </script>
    <script src="javascripts/blockchain.js"></script>
    <script src="javascripts/upload.js"></script>
</body>

</html>