<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
    <link href="stylesheets/jquery.dropdown.css" rel="stylesheet">
</head>

<body>
    <div class="col-md-6 m-auto">
        <div class="card card-body mt-5">
            <h2 class="text-center">Complete your Upload</h2>
            <form method="post" onsubmit="registerUser(); return false;">
                <div class="form-group">
                    <label>Message: (To Accompany the document)</label>
                    <input
                        type="textarea"
                        class="form-control"
                        name="message"
                    />
                </div>
                <embed src="files/<%= document_hash %>.pdf" width="800px" height="600px" />
                <div class="demo form-group">
                  <select style="display:none" class="form-control" name="signatories" id="signatories" multiple></select>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-success" onclick="sendDocument()" name="button">Sign and Send</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="javascripts/blockchain.js"></script>
    <script src="javascripts/upload.js"></script>
    <script src="javascripts/jquery.dropdown.js"></script>

    <script>
        var document_hash = "<%= document_hash %>";

        $('.demo').dropdown({

          // read only
          readOnly: false,

          // min count
          minCount: 1,

          // error message
          minCountErrorMessage: '',

          // the maximum number of options allowed to be selected
          limitCount: Infinity,

          // error message
          limitCountErrorMessage: '',

          // search field
          input: '<input type="text" id="signatories_search" oninput="updateSearch()" maxLength="20" placeholder="Search">',

          // dynamic data here
          data: [],

          // is search able?
          searchable: true,

          // when there's no result
          searchNoData: '<li style="color:#ddd">No Results</li>',

          // callback
          init: function () {},

          // callback
          choice: function () {},

          // custom props
          extendProps: ['name']

        });

        function updateSearch() {
          $.post('users/findName', { name: $('#signatories_search').val() }, function(result) {
            console.log($('#signatories_search').val(), result, $('.demo'))
            $('.demo').data('dropdown').update(result, false);
          })
        }

        function sendDocument() {
          console.log($('form').serialize());
        }
    </script>
</body>

</html>
